@font-face {
  font-family: Manrope;
  src: local("Manrope"), url("./assets/fonts/Manrope-VariableFont_wght.ttf");
  font-weight: 500;
  font-display: swap;
}

:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --fw-700: 700;
}

/* RESET */
/* Josh Comeau custom css reset */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* BASE STYLES */

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

body {
  font-family: Manrope;
  min-height: 100dvh;
  background-color: var(--light-grayish-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: min(90%, 90rem);
}

p {
  font-size: 0.8125rem;
}

.furniture {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  background-color: white;
  border-radius: 1rem;
  margin-inline: auto;
}

.furniture__image {
  border-radius: 1rem 1rem 0 0;
  height: auto;
  object-fit: cover;
}

.furniture__text-section {
  padding: 2rem clamp(1rem, 0.571rem + 2.143vw, 2.5rem);
}

.furniture__text {
  font-size: 1rem;
  margin: 1rem 0;
  color: var(--very-dark-grayish-blue);
}

.furniture__sub-text {
  margin-bottom: 2rem;
  color: var(--desaturated-dark-blue);
}

.furniture__text,
.furniture__name > p {
  font-weight: var(--fw-700);
}

.furniture__profile-section {
  display: flex;
  gap: 1.5rem;
}

.furniture__profile-section > img {
  height: 48px;
  width: 48px;
  border-radius: 100%;
}

.furniture__name {
  align-self: center;
  color: var(--very-dark-grayish-blue);
}

.furniture__name > p {
  margin-bottom: 0.25rem;
}

.furniture__name > time {
  color: var(--grayish-blue);
}

.share-btn {
  margin-left: auto;
  margin-block: auto;
  background-color: var(--light-grayish-blue);
  border-radius: 999px;
  padding: 0.75rem;
  border: transparent;
}

.furniture__text-section {
  anchor-name: --share-btn-anchor;
}

.socials {
  position-anchor: --share-btn-anchor;
  top: anchor(bottom);
  left: anchor(left);
  width: min(90%, 30rem);
  transform: translateY(-100%);
  background-color: var(--very-dark-grayish-blue);
  padding-block: 2rem;
  padding-inline: clamp(0.5rem, -5.318rem + 29.091vw, 1.5rem);
  border-radius: 0 0 1rem 1rem;
  border: none;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  opacity: 0;
  transition:
    opacity 0.3s ease-in-out,
    display 0.3s allow-discrete;
}

.socials:popover-open {
  display: flex;
  opacity: 1;
}

@starting-style {
  .socials:popover-open {
    opacity: 0;
  }
}

.socials__text {
  letter-spacing: 0.5rem;
  color: var(--grayish-blue);
  font-size: 0.875rem;
  font-weight: 500;
}

a:hover,
.share-btn:hover {
  cursor: pointer;
  opacity: 0.75;
}

@media screen and (min-width: 64rem) {
  .furniture {
    flex-direction: row;
    max-width: 55rem;
  }

  .furniture__image {
    border-radius: 1rem 0 0 1rem;
  }

  .furniture__text-section {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .furniture__text {
    font-size: 1.25rem;
    margin-top: 0.25rem;
  }

  .furniture__sub-text {
    max-width: 45ch;
  }

  .furniture__image {
    max-width: 25rem;
  }

  .socials {
    border-radius: 1rem;
    padding-block: 1rem;
    width: 0;
    min-width: 15rem;
  }

  .socials__text {
    letter-spacing: 0.25rem;
    font-size: 0.75rem;
  }

  .share-btn {
    anchor-name: --share-btn-anchor;
  }

  .socials {
    position-anchor: --share-btn-anchor;
    top: anchor(top);
    left: anchor(center);
    transform: translate(-50%, -120%);
    overflow: visible;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }

  .socials::after {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--very-dark-grayish-blue);
    clear: both;
  }
}
